@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #171717;
}

.fixedPosition {
    -webkit-background-size: fixed;
    -moz-background-size: fixed;
    -o-background-size: fixed;
}